%h1 Listing invoices

%table
  %thead
    %tr
      %th Client
      %th Boat
      %th Date
      %th Tax
      %th Subtotal
      %th Total
      %th Is payed
      %th
      %th
      %th

  %tbody
    - @invoices.each do |invoice|
      %tr
        %td= invoice.client
        %td= invoice.boat
        %td= invoice.date
        %td= invoice.tax
        %td= invoice.subtotal
        %td= invoice.total
        %td= invoice.is_payed
        %td= link_to 'Show', invoice
        %td= link_to 'Edit', edit_invoice_path(invoice)
        %td= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Invoice', new_invoice_path
