%br
.card.border-primary
  .card-header.bg-primary.text-white
    %h6 Invoice # #{@invoice.id}
  .card-body
    .row
      .col
        .card.border-primary
          .card-header.bg-primary.text-white
            Client Information
          .card-body
            = @invoice.client.name
            %br
            = @invoice.client.address1
            %br
            = @invoice.client.city
            #{@invoice.client.state}, #{@invoice.client.zip_code}
            %br
            = number_to_phone(@invoice.client.phone)
      .col
        .card.border-primary
          .card-header.bg-primary.text-white
            Boat Information
          .card-body
            = @invoice.boat.name
            %br
            = @invoice.boat.marina.name
            %br
            = @invoice.boat.marina.address1
            %br
            = @invoice.boat.marina.city
            #{@invoice.boat.marina.state}, #{@invoice.boat.marina.zip_code}
    .row.my-1
      .col
        .card.border-primary
          .card-header.bg-primary.text-white
            Financials
          .card-body
            .row
              .col
                %strong Payed:
                = @invoice.is_payed
              .col
                %strong Subtotal:
                = @invoice.subtotal
              .col
                %strong Total:
                = @invoice.total
%p
  %b Client:
  = @invoice.client
%p
  %b Boat:
  = @invoice.boat
%p
  %b Date:
  = @invoice.date
%p
  %b Tax:
  = @invoice.tax
%p
  %b Subtotal:
  = @invoice.subtotal
%p
  %b Total:
  = @invoice.total
%p
  %b Is payed:
  = @invoice.is_payed

= link_to 'Edit', edit_invoice_path(@invoice)
\|
= link_to 'Back', invoices_path
