= form_for @client do |f|
  - if @client.errors.any?
    = render = errors_for(@client)
  %br
  .form-group-row
    = f.label :first_name, 'First Name', :class => "col-sm-2"
    = f.text_field :first_name, :class => 'col-sm-6'
  .form-group-row
    = f.label :last_name, 'Last Name', :class => "col-sm-2"
    = f.text_field :last_name, :class => 'col-sm-6'
  .form-group-row
    = f.label :phone, 'Phone #', :class => "col-sm-2"
    = f.text_field :phone, :class => 'col-sm-6'
  .form-group-row
    = f.label :email, 'Email', :class => "col-sm-2"
    = f.text_field :email, :class => 'col-sm-6'
  .form-group-row
    = f.label :address1, 'Address 1', :class => "col-sm-2"
    = f.text_field :address1, :class => 'col-sm-6'
  .form-group-row
    = f.label :address2, 'Address 2', :class => "col-sm-2"
    = f.text_field :address2, :class => 'col-sm-6'
  .form-group-row
    = f.label :city, 'City', :class => "col-sm-2"
    = f.text_field :city, :class => 'col-sm-6'
  .form-group-row
    = f.label :state, 'State', :class => "col-sm-2"
    = f.text_field :state, :class => 'col-sm-6'
  .form-group-row
    = f.label :zip_code, 'Zip Code', :class => "col-sm-2"
    = f.text_field :zip_code, :class => 'col-sm-6'
  %br
  .actions
    = f.submit 'Save', :class => "btn btn-sm btn-primary text-white"
