%br
%h3= @client.name
%br
= link_to "Back to #{@client.name}", @client, class: "btn btn-sm btn-primary text white"
\|
= link_to 'Back to Client List', clients_path, class: "btn btn-sm btn-primary text-white"
%br
= render 'form'

