%p#notice= notice

%p
  %b Boat Name:
  = @boat.name
%p
  %b Manufacturer:
  = @boat.manufacturer
%p
  %b Model:
  = @boat.model
%p
  %b Year:
  = @boat.year
%p
  %b Registration #:
  = @boat.identification
%p
  %b Boat Type:
  = @boat.boat_type
%p
  %b Boat Configuration:
  = @boat.configuration
%p
  %b Boat Construction:
  = @boat.construction
%p
  %b Engines:
  = @boat.engine
%p
  %b # of Engines:
  = @boat.engine_count
%p
  %b Propulsion:
  = @boat.propulsion
%p
  %b Fuel Type:
  = @boat.fuel_type
%p
  %b Hailing Port:
  = @boat.hailing_port
%p
  %b Client:
  = @boat.client.name

= link_to 'Edit', edit_boat_path(@boat)
\|
= link_to 'Back', boats_path
