%nav{:class => "navbar navbar-expand-lg navbar-dark bg-primary"}
  = link_to "KBS", root_path, :class => "navbar-brand"
  - if admin_signed_in?
    %button.navbar-toggler{:type => "button", "data-toggle" => "collapse", "data-target" => "#navbarSupportedContent", "aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation"}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse{:id => "navbarSupportedContent"}
      %ul.navbar-nav.mr-auto
        = link_to "Clients", clients_path, {:class => "nav-link active"}
        = link_to "Boats", boats_path, {:class => "nav-link active"}
        = link_to "Marinas", marinas_path, {:class => "nav-link active"}
        = link_to "Invoices", invoices_path, {:class => "nav-link active"}
    %ul.navbar-nav.ml-auto
      = link_to 'Logout', destroy_admin_session_path, method: :delete, class: "btn btn-outline-light text-white"
  - else
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        = link_to 'Login', new_admin_session_path, class: "btn btn-outline-light text-white"
